<?xml version="1.0" encoding="utf-8"?>
<manifest t:tag="+" xmlns:t="http://androidtransfuse.org" xmlns:android="http://schemas.android.com/apk/res/android" package="jp.mydns.sys1yagi.android.transfuse" android:versionCode="1" android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19"/>
    <application t:tag="+,n" android:name=".TransfuseApplication">
        <activity t:tag="+,n" android:name=".ExtraInjectionActivity"/>
        <activity t:tag="+,l,n" android:label="@string/app_name" android:name=".MainActivity">
            <intent-filter t:tag="+">
                <action t:tag="+,n" android:name="android.intent.action.MAIN"/>
                <category t:tag="+,n" android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver t:tag="+,n" android:name=".receivers.ActionBroadcastReceiver">
            <intent-filter t:tag="+">
                <action t:tag="+,n" android:name="jp.mydns.sys1yagi.android.transfuse.ACTION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>